<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">task-board</a>
        </div>
        <div class="navbar-right">
            <button type="button" class="btn btn-default navbar-btn" data-bind="click: openGroupModal">Add a group</button>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Board名</h1>
    </div>
    <div class="alert alert-success" data-bind="visible: alertSuccessMessage">
        <button class="close" data-dismiss="alert">&times;</button>
        <!-- ko text: alertSuccessMessage--><!--/ko-->
    </div>
    <div class="alert alert-danger" data-bind="visible: alertErrorMessage">
        <button class="close" data-dismiss="alert">&times;</button>
        <!-- ko text: alertErrorMessage--><!--/ko-->
    </div>
    <div class="row" data-bind="sortable: groups">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" data-bind="click: $parent.findGroup"><span class="glyphicon glyphicon-cog close" aria-hidden="true"></span></a>
                    <!-- ko text: subject--><!--/ko-->
                </div>
                <div class="list-group" data-bind="sortable: tasks">
                    <a href="#" class="list-group-item" data-bind="text: subject, click: $parents[1].findTask.bind($data, $parent)"></a>
                </div>
                <div class="panel-footer"><a href="#" data-bind="click: $parent.openTaskModal">Add a task...</a></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="taskModalLabel">Task</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="subject" class="control-label">タスク名:</label>
                        <input type="text" class="form-control" id="subject" data-bind="value: task.subject">
                    </div>
                    <div class="form-group">
                        <label for="body" class="control-label">内容:</label>
                        <textarea class="form-control" id="body" data-bind="value: task.body"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="visible: !task.id(), click: createTask">Create</button>
                <button type="button" class="btn btn-primary" data-bind="visible: task.id, click: editTask">Edit</button>
                <button type="button" class="btn btn-danger" data-bind="visible: task.id, click: deleteTask">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="groupModalLabel">Group</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="subject" class="control-label">グループ名:</label>
                        <input type="text" class="form-control" id="subject" data-bind="value: group.subject">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="visible: !group.id(), click: createGroup">Create</button>
                <button type="button" class="btn btn-primary" data-bind="visible: group.id, click: editGroup">Edit</button>
                <button type="button" class="btn btn-danger" data-bind="visible: group.id, click: deleteGroup">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= javascript_include_tag 'jquery-1.11.3.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'knockout-3.3.0.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'knockout-sortable.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'app.min.js', 'data-turbolinks-track' => true %>
