<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">task-board</a>
        </div>
        <div class="navbar-right">
            <button type="button" class="btn btn-default navbar-btn" data-bind="click: openBoardModal">Add a board</button>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Task-Board</h1>
    </div>
    <div class="alert alert-success" data-bind="visible: baseViewModel.alertSuccessMessage">
        <button class="close" data-bind="click: baseViewModel.closeAlertSuccess">&times;</button>
        <!-- ko text: baseViewModel.alertSuccessMessage--><!--/ko-->
    </div>
    <div class="alert alert-danger" data-bind="visible: baseViewModel.alertErrorMessage">
        <button class="close" data-bind="baseViewModel.closeAlertError">&times;</button>
        <!-- ko text: baseViewModel.alertErrorMessage--><!--/ko-->
    </div>
    <div class="row" data-bind="sortable: {data: boards}">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#" data-bind="click: $parent.findBoard"><span class="glyphicon glyphicon-cog close" aria-hidden="true"></span></a>
                    <a data-bind="text: subject, attr: {href: '/boards/' + id()}"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="groupModalLabel">Board</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" data-bind="css: {'has-error': baseViewModel.invalidMessages().board.subject.length > 0, 'has-success': baseViewModel.invalidMessages().board.subject.length == 0}">
                        <label for="subject" class="control-label">ボード名:</label>
                        <input type="text" class="form-control" id="subject" data-bind="value: board.subject, valueUpdate: 'keyup'">
                        <!-- ko foreach: baseViewModel.invalidMessages().board.subject -->
                        <p class="help-block" data-bind="text: $data"></p>
                        <!-- /ko -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="visible: !board.id(), click: createBoard">Create</button>
                <button type="button" class="btn btn-primary" data-bind="visible: board.id, click: editBoard">Edit</button>
                <button type="button" class="btn btn-danger" data-bind="visible: board.id, click: deleteBoard">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= javascript_include_tag 'jquery-1.11.3.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'knockout-3.3.0.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'knockout-sortable.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'app.min.js', 'data-turbolinks-track' => true %>
